<%= render "users/left", user: @user, book: @book %>

<h2>Users</h2>

<% @users.each do |user| %>
<%= attachment_image_tag user, :profile_image, :fill, 30, 30, fallback: "no-image.jpg", size:"30x30" %>
<%= user.name %>
<%= link_to "show", user_path(user) %>
<% end %>

